
@{
    ViewBag.Title = "View";
}

<h2> Bonjour @ViewData["nom"]</h2>
<!-- on caste la valeur ViewData["dateNow"] pour transformé en type DateTime -->
<h2> Aujourd'hui c'est le  @(((DateTime)ViewData["dateNow"]).ToString("yyyy"))</h2>

